@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    height: 100hv;
}

header {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

img {
    border-radius: 20%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}